@page "/list"
@using ToDo.Api.Contract.Lists
@using Microsoft.AspNetCore.Components

<div class="row">
    @if (SelectedList is not {})
    {
        <RadzenButton Click="OnListAdd" Text="Add List"/>
    }
    else
    {
        <div class="form-group row">
            <label class="col-4 col-form-label">Name</label>
            <div class="col-8">
                <div class="input-group">
                    <RadzenTextBox @bind-Value="@SelectedList.Name"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <RadzenButton Click="OnListSaved" Text="Submit"/>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-4">
        <RadzenDataGrid TItem="ListItem" Count="@(Lists?.Result?.Count ?? 0)" Data="@Lists?.Result"
                        AllowPaging="true" PageSize="18"
                        AllowFiltering="true" FilterMode="FilterMode.Advanced" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        RowSelect="ListRowSelected" RowDeselect="ListRowDeselected" SelectionMode="DataGridSelectionMode.Single"
                        AllowColumnResize="true">
            <Columns>
                <RadzenDataGridColumn TItem="ListItem" Property="Name" Title="Name"/>
                <RadzenDataGridColumn TItem="ListItem" Property="CreatedAt" Title="Created At">
                    <Template Context="item">
                        @item.CreatedAt.ToDateTime().ToString("yyyy, MMM dd (HH:mm)")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ListItem" Property="CreatedBy" Title="Created By"/>
                <RadzenDataGridColumn TItem="ListItem" Title="#">
                    <Template Context="item">
                        <RadzenBadge BadgeStyle="BadgeStyle.Primary" IsPill="true" Text="@item.CompletedCount.ToString()"/>
                        <RadzenBadge BadgeStyle="BadgeStyle.Danger" IsPill="true" Text="@item.ActiveCount.ToString()"/>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
    <div class="col-8">
        
        @if (SelectedItem is {})
        {
            <RadzenTextBox @bind-Value="@SelectedItem.Title"/>
            <RadzenButton Text="Save ToDo" Click="OnItemSaved"/>
        }
        
        @if (SelectedList is {} && SelectedItem is null)
        {
            <RadzenButton Text="Add ToDo" Click="OnItemAdd"/>
        }
        
        @if (SelectedList is {})
        {
            <TasksGrid List="@SelectedList" Tasks="@Tasks"/>
        }
        
    </div>
</div>